  <div class="container">
    <div class="jumbotron text-center">
      <h1>Restful Taks API!</h1>
      <button id="getTasks" (click)="getTasksFromService()" class="btn btn-primary">Get All Tasks!</button>
      <div *ngIf="tasks" class="taskwrapper">
        <hr>
        <h3>All Tasks</h3>
        <div *ngFor="let t of tasks">
          <p>Title: {{ t.title }}</p>
          <p *ngIf="oneTask" class="">{{ oneTask.description }}</p>
          <button id="getDesc" (click)="getTask(t._id)" class="btn btn-success">Show Details</button>
        </div>
      </div>
      <!-- <h3>All the Tasks:</h3>
      <ul *ngFor="let t of tasks">
        <li>{{ t.title }}</li>
      </ul>
      <h3>The third task</h3>
      <ul>
        <li>{{ tasks[2].title }}</li>
      </ul> -->
      <!-- <button (click)="onButtonClick()" class="btn btn-primary">Click Me</button>
      <button (click)="onButtonClickParam(5)" class="btn btn-primary">Click Me</button>
      <button (click)="onButtonClickParams(5, 'hello')" class="btn btn-primary">Click Me</button>
      <button (click)="onButtonClickEvent($event)" class="btn btn-primary">Click Me</button> -->
    </div>
  </div>

<router-outlet></router-outlet>
